body {
    padding-top: 75px;
    padding-bottom: 20px;
    background-color:beige;


}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space:normal;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea 
{
    max-width: 280px;
}
    */


html {
  box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float:left;
    width: 33%;
    margin-bottom: 16px;
    padding: 0 8px;
}


@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;

}
.box{
    color:aquamarine;
}
    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: saddlebrown;
    background-color: saddlebrown;
    text-align: center;
    cursor: pointer;
    width: 30%;
}

    .button:hover {
        background-color: #555;
    }
.button2 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 30%;
}

    .button2:hover {
        background-color: #3e8e41
    }

    .button2:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    h1{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:saddlebrown;
    }
    p{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: saddlebrown;
    }
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: saddlebrown;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: saddlebrown;
}
