@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="~/Content/About.css"/>

<h2>About This Website</h2>
<h3>This page is like most officers.... to take up space.</h3>

<p>This website is for humor and code</p>
