@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    216 Apt H <br />
    High Ridge Dr <br />
    Sanford NC 27330<br />
    <abbr title="Phone">P:</abbr>
    (910)703-5594
</address>
<address>
    <strong>Email:</strong>   <a href="mailto:joel.crunk@outlook.com">joel.crunk@outlook.com</a><br />
</address>

<div class="column">
    <div class="img-responsive">
        <img src="/Images/if video games make kids violent meme.JPG" style="width:100%" height="400" />
    </div>
</div>



