@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:darkseagreen">
    <h1 style="color:saddlebrown">HumorHacker</h1>
    <p class="lead">Where you are challenged to hack your humor!</p>
    @*<img src="~/Images/NewDev wreck.JPG" alt="Jane" style="width:25%; float:right;">*@

</div>
@*<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>*@
<body>

    <h2>Responsive "Meet The Team" Section</h2>
    <p>Resize the browser window to see the effect.</p>
    <br>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/Images/NewDev wreck.JPG" alt="Jane" style="width:75%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button2 class="button2">Memes</button2></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/I Stole it code.jpg" alt="Mike" style="width:75%">
                <div class="container">
                    <h2>Style with Humor</h2>
                    <p class="title">sdaf</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button2 class="button2">Store</button2></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="~/Images/Kicked up feet.jpg" alt="John" style="width:75%">
                <div class="container">
                    <h2>Lazy Code</h2>
                    <p class="title">Code snipets</p>
                    <p>Code snipets and cheat sheets</p>
                    <p>example@example.com</p>
                    <p><button2 class="button2">Code</button2></p>
                </div>
            </div>
        </div>
    </div>

</body>

@*</html>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <div class="column">
            <img src="~/Images/Issue resolved 300 clicks .JPG" style="width:25%">
        </div>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="~/Home/Memes">Memes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@