@model List<HumorHacker.Models.Product>

@{
    ViewBag.Title = "Store";
}

<h2>Store</h2>


@foreach (var p in Model)
{
<div class="column">
    <div class="card">
        <img src="@p.Image" style="width:50%; height:200px;" />
        <p>@p.Name</p>
        <p>@p.Category</p>
        <p>@p.Price</p>
    </div>
</div>
}


