
@{
    ViewBag.Title = "Code";
}

<h2>Code</h2>

<div class="column">
    <div class="img-responsive">
        <img src="~/Images/stackoverflow entire career.JPG"  style="width:100%" height="400" />
    </div>
</div>